<section class="hero">

  <p class="subtitle">
    &gt; Étudiant en bachelier en programmation - Développement d'applications
  </p>

  <h1>
    Bonjour, moi c'est
    <span>Alexandre.</span>
  </h1>

  <p class="catchphrase">
    J'apprends, je code, je teste… et parfois ça fonctionne.
  </p>

  <p class="description">
    Entre projets de cours et projets personnels, je développe des applications
    pour apprendre, expérimenter et progresser.
  </p>

  <div class="buttons">

    <a href="#projects" class="main-button">
      Voir mes projets
    </a>

    <a
      href="https://github.com/Pugliese-Alexandre"
      class="github-link"
      target="_blank"
      rel="noopener noreferrer"
    >
      GitHub ↗
    </a>

  </div>

  <div class="technologies">
    <span>#HTML</span>
    <span>#CSS</span>
    <span>#Angular</span>
    <span>#TypeScript</span>
    <span>#Java</span>
    <span>#SpringBoot</span>
    <span>#SQL</span>
  </div>

</section>
